$dark: #1B4C5C;
$main: #D3C377;
$red: #B73E40;
$link: #548799;
$text:  #283C3F;
$bg: #F9F9F8;
$shadow: #283C3FDD;
$literal: #D8F3FD;

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
    color: $text;
    font-size: 1.05em;
    line-height: 1.6;
    background: $dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: inherit;
}

a, a:visited {
    transition: color 0.3s;
    color: $link;
}

a:hover, a:active, a:focus, .active {
    color: $red !important;
    transition: color 0.3s
}

.navlink.active::before {
    content: ""
}

h1 {
    font-size: 2em;
}

h2 {
    margin-bottom: 0
}

img {
    width: 100%;
}

td {
    vertical-align: top;
}

td:first-of-type {
    margin-left: 3em;
}

td:not(:first-of-type) {
    font-size: 0.8em;
}

code {
    font-size: 0.9rem;
}

.highlighted, pre code {
    background: $text;
    display: inline-block;
    color: $bg;
    width: 100%;
    padding: 1em;
    white-space: pre-wrap;
}

.highlighted, pre code p {
    margin: 0;
}

.highlighted strong, pre code strong, .language-toml var {
    color: $main;
    font-weight: bold;
    font-style: normal;
}

.language-toml strong {
    color: $red;
}

.language-toml em {
    font-weight: bold;
    font-style: normal;
    color: $red;
}

.highlighted em, pre code i {
    color: $link;
}

pre code u {
    color: #ddd;
    text-decoration: none;
}

pre code span, pre code var {
    color: $literal;
    font-style: normal;
}

ul {
  padding-left: 1em;
  list-style-type: square;
}

#topbar {
    padding: 0.3em;
    font-size: 2em;
    background: $dark;
    color: $main;
    position: relative;
    width: 100%;
    max-width: 1024px;
    overflow-x: clip;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.blades-logo::before {
  content: "{";
  transform: rotate(90deg);
  display: inline-block;
  clip-path: polygon(0 19%, 0 100%, 100% 100%, 100% 41%);
}

.blades-logo::after {
  content: "//";
  /*! font-size: 0.8em; */
  letter-spacing: -0.40ex;
  transform: translateX(-0.35ex);
  display: inline-block;
}

.blades-logo {
  display: inline;
  margin: 0 0.7ex;
  font-family: monospace;
  font-style: initial;
}

#logo {
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    line-height: initial;
    left: calc(50vw - min(512px, 50vw) + 0.5em);
    font-family: monospace;
    text-transform: lowercase;
    z-index: 1;
}

#logo a {
    color: $main;
    text-decoration: none;
}

.control-button {
	position: absolute;
	right: 2rem;
	width: 4rem;
	height: 3rem;
	cursor: pointer;
	z-index: 11;
	background: $dark;
	border: none;
	transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	top: 0.6rem;
	appearance: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.control-button::before, .control-button::after {
	display: block;
	width: 2rem;
	height: 0.3rem;
	position: absolute;
	top: 1.35rem;
    left: 1rem;
	
	background: $main;
	
	z-index: 2;
	content: "";
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	/*! position: fixed; */
}

.control-button::before {
	transform: rotate(45deg);
}

.control-button::after {
	transform: rotate(-45deg);
}

#burger-check::before {
    transform: translateY(-0.45rem);
}

#burger-check::after {
	transform: translateY(0.45rem);
}

#burger-check:checked::before {
	transform: rotate(-45deg);
}

#burger-check:checked::after {
	transform: rotate(45deg);
}

#burger-check:checked ~ #nav {
	transform: translateX(0);
}

#nav {
    z-index: 6;
    background: $dark;
    width: 100vw;
    margin-bottom: 0;
    text-align: left;
    overflow-y: auto;

    transform: translateX(100%);
	display: flex;
	color: $main;
	align-items: center;
	flex-direction: column;
	padding: 5rem 2rem;
    font-size: initial;
    transition: transform 0.5s ease;
    /*! text-transform: lowercase; */
    left: 0;
    top: 0;
    position: absolute;
}

.navlink, .navlink:visited {
	font-size: 1.1rem;
	text-align: center;
	text-decoration: none;
	margin: 0.6em 0.8em;
	color: $main;
}

#container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    flex-grow: 1;
    margin: auto;
    margin-bottom: 1em;
}

#pagesnav {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.shadowed {
    padding: 1em 2em;
    border: 1px solid $text;
    box-shadow: 0.5em 0.5em $shadow;
    background: $bg;
}

#navwrap {
    width: 100%;
}

.pagelink {
    text-decoration: none;
    margin: 0.5em 0;
    display: block;
}

.active {
    font-weight: 500;
}

.active::before {
    content: "// ";
    color: $main;
}

#content {
    width: 100%;
    max-width: 1024px;
    padding: 1em 1.5em;
    background: $bg;
}

#prevnext {
    display: flex;
    justify-content: space-between;
    margin: 1.6em 1em 1em;
    background: $dark;
    font-size: 1.1em;
    height: 1.2em;
}

#prevnext a {
    color: $main;
    text-decoration: none;
}

.full {
    width: 100%;
    z-index: 5;
}

#footer {
    width: 100%;
    text-align: center;
    color: $bg;
    font-size: 0.8em;
    padding: 0.8em 1em;
    flex-shrink: 0;
    bottom: 0;
}

#footer a {
    color: $main;
    text-decoration: none;
    margin: auto;
}

#commands p {
    text-indent: -0.5em;
    padding-left: 1em;
    margin: 0.3em 0;
}

#commands code {
    display: inline-block;
    min-width: 4em;
}

#theme-grid {
    display: flex;
    flex-direction: column;
}

.theme {
    display: block;
    margin: 1em;
    z-index: 100;
    text-decoration: none;
    color: $text !important;
}

.theme:hover p, .theme:active p {
    color: $text;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media screen and (min-width: 900px) {
    #topbar {
        justify-content: right;
    }

    #burger-check {
        display: none;
    }

    #logo {
        position: fixed;
    }

    #nav {
        transform: initial;
        position: relative;
        padding: initial;
        height: 100%;
        width: initial;
        flex-direction: row;
    }

    #container {
        flex-direction: row;
    }

    #navwrap {
        width: 256px;
        margin-right: 4em;
        float: right;
    }
    
    #pagesnav {
        width: 256px;
        position: fixed;
        margin-left: 1em;
        z-index: 6;
    }

    #content {
        padding: 3em 4em;
        position: relative;
    }

    #theme-grid {
        flex-direction: row;
        flex-wrap: wrap;
        background: $dark;
    }

    .theme {
        width: calc(50% - 2em);
    }

    pre code {
        padding: 2em 1em 2em 2.4em;
    }

    .highlighted {
        padding: 1em 1em 1em 2.4em;
    }

    .full {
        max-width: 780px;
    }
}

