<div id="topbar">
    <div id="logo">
        <a href="{{site url}}/">{{site logo}}{{site title}}</a>
    </div>
    <input id="burger-check" class="control-button" type="checkbox">
    <nav id="nav">
      {{#index}}<a class="navlink{{#active}} active{{/active}}" href="{{permalink}}">Home</a>
      {{#subsections}}
      <a class="navlink {{#active}} active{{/active}}" href="{{permalink}}">{{title}}</a>
      {{/subsections}}{{/index}}
      {{#site repository}}
        <a class="navlink" target="_blank" href="{{repository}}">Contribute</a>
      {{/repository site}}
    </nav>
</div>
